{% extends 'base.html' %}
{% block content-header %}
<h1><i class="fas fa-list"></i> Blog 목록</h1>
{% endblock %}

{% block content%}
{%for post in posts%}
<h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
<i class="far fa-clock"></i> {{post.modify_dt|date:"Y-m-d"}}
<p>{{post.description}}</p>
{% endfor %}
<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Prev</a>
       
        {% endif %}
       
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}
      
        {% if page_obj.has_next %}
             <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </span>
</div>

{% if user.is_active %}
 <div class="text-right mr-3">
 <a href="{%url 'blog:add' %}" class="btn btn-primary btn-sm">
 <i class="fas fa-pencil-alt"></i> 쓰기</a>
 </div>
 {% endif %}

{% endblock %}